################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VirtualShop/.vs/VirtualShop/FileContentIndex
/VirtualShop/.vs/VirtualShop/v17/.suo
